<!--/*@thymesVar id="newTodo" type="Todo"*/-->
<form th:fragment="content" th:action="@{/createNewTodo}" th:object="${newTodo}" method="post" >
    <div class="form-group mb-3">
        <label for="title">Note Title</label>
        <input type="text" class="form-control" id="title" placeholder="Note Title" name="title" th:field="*{title}" />
    </div>

    <div class="form-group mb-3">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description" th:field="*{description}"></textarea>
    </div>

    <div class="form-group mb-3">
        <label for="dueDate">Select Date</label>
        <div class="date-picker-wrapper">
            <input type="date" class="form-control custom-date-picker" id="dueDate" placeholder="MM/DD/YYYY" name="dueDate" th:field="*{dueDate}" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />
            <i class="calendar-icon"></i>
        </div>
    </div>

<!--    <div class="form-group mb-3">-->
<!--        <label for="completed">Completion Status</label>-->
<!--        <select class="form-select" id="completed" name="isCompleted">-->
<!--            <option th:value="true" th:selected="${isCompleted} == true">Completed</option>-->
<!--            <option th:value="false" th:selected="${isCompleted} == false">Uncompleted</option>-->
<!--        </select>-->
<!--    </div>-->

    <div class="form-group mb-3">
        <label for="important">Importance</label>
        <select class="form-select" id="important" name="important" th:field="*{important}" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="dir">Directory</label>
        <select class="form-select" id="dir" name="dir" th:field="*{dir}">
            <option value="Directory 1">Directory 1</option>
            <option value="Directory 2">Directory 2</option>
            <option value="Directory 3">Directory 3</option>
        </select>
    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        <button type="button" class="btn btn-secondary clear-btn">Clear</button>
    </div>
</form>
