<form id="replaceIt" th:fragment="content" th:action="@{/createNewTodo}" th:object="${newTodo}" method="post" >
    <p th:text="${newTodo.getTitle()}"></p>
    <div class="form-group mb-3">
        <label for="title">Note Title</label>
        <input type="text" class="form-control" id="title" placeholder="Note Title" name="title" th:field="*{title}" />
    </div>

    <div class="form-group mb-3">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description" th:field="*{description}"></textarea>
    </div>

    <div class="form-group mb-3">
        <label for="dueDate">Select Date</label>
        <div class="date-picker-wrapper">
            <input type="date" class="form-control custom-date-picker" id="dueDate" th:value="*{dueDate}" name="dueDate" />
            <i class="calendar-icon"></i>
        </div>
    </div>


    <div class="form-group mb-3">
        <label for="important">Importance</label>
        <select class="form-select" id="important" name="important" th:field="*{important}" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="dir">Directory</label>
        <select class="form-select" id="dir" name="dir" th:field="*{dir}">
            <option value="Main">Main</option>
            <option value="Job">Job</option>
            <option value="Study">Study</option>
        </select>
    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        <button type="button" class="btn btn-secondary clear-btn">Clear</button>
    </div>
</form>
