.mainBody{
    /*height: 200vh;*/
    margin-left: 250px;
    /*margin-right: 250px;*/
    background-color: #FFFFFF;
    color: #333333;
}

.mainBody-search-bar{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mainBody-search-bar input{
    padding: 10px;
}

/* Card */
.mainBody-title-main{
    margin: 20px 2px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Liberation Mono", sans-serif;
}
.mainBody-line{
    height: 10px;
    width: 100%;
    border-bottom: 2px dotted #333333;
    margin-bottom: 2px;
}
.mainBody-card {
    margin: 10px 0px;
    background-color: #F5F7FA;
    border: 1px solid #E8E8E8;
    color: #333333;
    /*height: 250px;*/
    width: 280px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: box-shadow 0.3s ease; /* Add transition effect */
}
.line{
    border-top: 2px dotted #333333;
    margin-bottom: 20px;
}
/* Hover effect */
.mainBody-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Change box shadow on hover */
}

/* Button */
.mainBody-card-button {
    background: linear-gradient(to right, #7b9aff, #0637fb);
    color: #FFFFFF;
    padding: 2px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.mainBody-card-button:focus{
    border: none;
    outline: none;
}

.mainBody-title{
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mainBody-details {
    height: 100px;
    color: grey;
    overflow: hidden; /* Only hide overflow along y-axis */
    /*white-space: nowrap; !* Prevent text wrapping *!*/
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
}

.mainBody-date{
    color: #0a43fd;
    font-size: 20px;
}
.mainBody-date i{
    margin-right: 5px;
}

.mainBody-options-button i{
    font-size: 20px;
    margin: 0px 2px;
    color: #0a43fd;
}

.mainBody-options-button div{
    font-size: 18px;
}
.mainBody-showDir{
    height: 30px;
    width: 70px;
    background: #ffd780;
    position: absolute;
    top:5px;
    left: 200px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    /*right: 30px;*/
}